<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="isFirstRun" value="true"/>
		<add key="arch" value="https://gitlab.archlinux.org/archlinux/archlinux-docker/-/package_files/253/download"/>
	</appSettings>
</configuration>